@model IEnumerable<Cumulative1.Models.Student>

<div>
    <h1>Students</h1>
</div>

@foreach (Cumulative1.Models.Student CurrentStudent in Model)
{
   

    <div>
        <a href="/StudentPage/Show/@CurrentStudent.StudentId">
            @CurrentStudent.StudentFName @CurrentStudent.StudentLName
        </a>
    </div>

}