@model Cumulative1.Models.Teacher

<h1>Add New Teacher</h1>

<form method="POST" action="/TeacherPage/Create">
    <div>
        <label for="TeacherFName">First Name</label>
        <input type="text" id="TeacherFName" name="TeacherFName" required />
    </div>
    <div>
        <label for="TeacherLName">Last Name</label>
        <input type="text" id="TeacherLName" name="TeacherLName" required />
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" required />
    </div>
    
    <button type="submit">Add Teacher</button>
</form>
