@model Cumulative1.Models.Teacher


<div class="teacher-container">
    <h1 class="teacher-name">@Model.TeacherFName @Model.TeacherLName</h1>

    <p class="teacher-details">Employee Number: @Model.EmployeeNumber</p>
    <p class="teacher-details">Hire Date: @Model.hiredate.ToString("MMMM dd, yyyy")</p>
    <p class="teacher-details">Salary: $@Model.salary</p>
    <div class="teacher-actions">
        <a href="/TeacherPage/ConfirmDelete/@Model.TeacherId" class="btn btn-danger">Delete Teacher</a>
        <a href="/TeacherPage/Edit/@Model.TeacherId">Edit</a>
    </div>
</div>